{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<body>
    <h1>Bienvenido a Mi Sitio Web</h1>
    <p>Este es un mensaje de bienvenida.</p>
    <p><a href="{{ path('product_list') }}">Ver lista de productos</a></p>
</body>
{% endblock %}
