{# templates/product/list.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Productos</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.getName() }} - ${{ product.getPrice() }}</li>
        {% endfor %}
    </ul>
{% endblock %}
