<!DOCTYPE html>
<html>
<head>
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <p><a href="{{ path('homepage') }}">Volver a la página de inicio</a></p>
</body>
</html>
